#app {
  width: 500px;
  margin: 20px auto 0 auto;

  background-color: #31313a;
  border: 2px solid #4f4b4f;
  color: rgba(255, 255, 255, 0.85);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);

  svg {
    padding: 0 8px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      background-color: #ff9800;
      color: #31313a;
    }
  }

  .header,
  .footer {
    padding: 8px 16px;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .header {
    color: #ff9800;
    .title {
      img {
        width: 64px;
      }
      h1 {
        display: inline-block;
        font-size: 1.9em;
      }
    }
    .actions {
      span {
        margin-left: 4px;
      }
    }
    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 2px;
      background: radial-gradient(ellipse at left, #ff9800 0%, rgba(255, 255, 255, 0) 70%);
    }
  }

  .footer {
    justify-content: flex-end;
    .result {
      width: 50px;
      margin-right: 32px;
      text-align: center;
      color: #ff9800;
    }
  }

  #fields {
    padding: 8px 16px;
    // width: 100%;
    .field {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      margin: 8px 0;

      .field-group {
        display: flex;
        flex-flow: column nowrap;
        flex: 1;

        label {
          font-size: 0.75em;
        }

        input {
          flex: 1;
          color: rgba(255, 255, 255, 0.85);
          margin: 0 4px;
          padding: 8px 0;
          text-align: center;
          border: none;
          border-bottom: 1px solid #666;
          background: 0 0;
          outline: 0;
          resize: none;
          transition: all 0.3s ease 0s;
          &:hover,
          &:focus {
            color: #ff9800;
            border-color: #ff9800;
          }
        }
        &:hover,
        &:focus {
          label {
            color: #ff9800;
          }
          input {
            color: #ff9800;
            border-color: #ff9800;
          }
        }
      }

      .diff {
        min-width: 50px;
        flex-shrink: 0;
        text-align: center;
        font-size: 0.8em;
      }

      span {
        flex-shrink: 0;
      }
    }
  }

  @media screen and (max-width: 425px) {
    width: 100vw;
    height: 100vh;
    margin: 0;
    border: 0;
  }
}
