* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Monda', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  font-size: 1em;
  background-color: #26262d;
}
